@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<div class="jumbotron">
  <div class="container text-center">
    <h1>@Umbraco.Field("title")</h1>      
    <p>@Umbraco.Field("subTitle")</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Articles</h3><br>
 
@{
	var selection = Model.Content.Site().FirstChild("articles").Children("articlesItem")
						.Where(x => x.IsVisible())
						.OrderBy("CreateDate desc");
}
<div class="row">
 

	@foreach(var item in selection){
	   <div class="col-sm-3">
        <p>@item.Name</p>
           <a href="@item.Url">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></a>
     
             </div>
	}



</div><br>

<div class="container-fluid bg-3 text-center">
    <h3>Projects</h3><br>    
  <div class="row">
      
@{
	var project = Model.Content.Site().FirstChild("projects").Children("projectsItem")
						.Where(x => x.IsVisible())
						.OrderBy("CreateDate desc");
}

	@foreach(var pro in project){
	      <div class="col-sm-3">
        <p>@pro.Name</p>
           <a href="@pro.Url">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></a>
        </div>
	}
</div>

</div><br><br>